/*MEDIA QUERY STYLE GUIDE

0 - 600PX: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1440px: Desktop
1800px+ : Big Desktop

1em = 16px: 
*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 0.5;
    transform: translateY(0); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 90em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0;
  position: relative; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-size: 16px;
  color: #222;
  font-family: "Space Grotesk", sans-serif; }

.form__button {
  padding: 1.5rem 10rem;
  border: 0;
  background-color: #21092f;
  color: #fff;
  font-size: 1.3rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: all .8s; }
  .form__button:hover {
    background-color: #8e8593;
    color: #222;
    font-weight: 700; }

.cards__container {
  position: absolute;
  top: 0;
  left: 25%;
  transform: translate(-20%, 25%); }

.card {
  max-height: 25rem;
  max-width: 45rem;
  cursor: pointer;
  transition: all 1s; }
  .card:hover {
    transform: scale(1.1); }
  .card__img {
    max-height: 25rem;
    max-width: 45rem; }
  .card--front {
    transform: translateX(-10rem);
    position: relative;
    margin: 0 auto; }
    .card--front-details {
      width: 100%;
      height: 100%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #fff;
      position: absolute;
      text-transform: uppercase; }
      .card--front-details--top {
        display: flex;
        align-items: center; }
      .card--front-details--card-num {
        text-align: center;
        font-size: 2rem;
        word-spacing: 1rem; }
      .card--front-details--bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
  .card--back {
    position: relative;
    margin: 0 auto;
    transform: translateY(3rem); }
    .card--back-details {
      width: 100%;
      height: 100%;
      padding: 3rem;
      position: absolute;
      color: #fff; }
      .card--back-details--card-cvc {
        display: inline-block;
        position: absolute;
        top: 9rem;
        right: 5rem; }

.active {
  display: visible; }

.hide {
  display: none !important; }

.ball {
  display: inline-block;
  border-radius: 50%; }
  .ball--large {
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    margin-right: 1rem; }
  .ball--small {
    border: 1px solid #fff;
    width: 1.5rem;
    height: 1.5rem; }

.icon {
  font-size: 1.8rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%); }

.background {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative; }
  .background--left {
    width: calc(100% * 1/3); }
    .background--left-image {
      width: 100%;
      height: 100%; }
  .background--right {
    width: calc(100% * 2/3);
    position: relative;
    margin: 0 auto; }

.form__container {
  width: 80%;
  margin: 0 auto;
  position: relative; }

.form {
  width: 35rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); }
  .form__row {
    display: flex;
    flex-direction: column; }
  .form__column {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .form__label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.2rem; }
  .form__input {
    padding: 1.5rem;
    border: 1px solid #dedddf;
    outline: none;
    border-radius: .5rem;
    font-size: 1.4rem; }
    .form__input::placeholder {
      color: #dedddf; }
    .form__input:focus {
      border: 1px solid #21092f; }
    .form__input--small {
      width: 5.5rem; }
      .form__input--small:not(:last-child) {
        margin-right: 1.5rem; }
    .form__input--mid {
      width: 20rem; }
  .form__confirmation {
    width: 35rem;
    height: 40rem;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center; }
    .form__confirmation-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .form__confirmation-icon {
      text-align: center;
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      background-image: linear-gradient(#bd5ceb, #500168);
      margin: 0 auto;
      color: #fff;
      position: relative;
      margin-bottom: 5rem; }
    .form__confirmation-heading {
      font-size: 2.4rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: .5rem;
      margin-bottom: 2rem;
      color: #21092f; }
    .form__confirmation-msg {
      color: #8e8593;
      font-size: 1.6rem;
      margin-bottom: 5rem; }
