/*MEDIA QUERY STYLE GUIDE

0 - 600PX: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1440px: Desktop
1800px+ : Big Desktop

1em = 16px: 
*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 0.5;
    transform: translateY(0); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 90em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0;
  position: relative; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-size: 16px;
  color: #222;
  font-family: "Space Grotesk", sans-serif; }

.form__button {
  padding: 1.5rem 10rem;
  border: 0;
  background-color: #21092f;
  color: #fff;
  font-size: 1.3rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: all .8s; }
  .form__button:hover {
    background-color: #8e8593;
    color: #222;
    font-weight: 700; }

.cards__container {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 25%;
  transform: translate(-20%, 25%); }

.card {
  max-height: 25rem;
  max-width: 45rem; }
  .card__img {
    max-height: 25rem;
    max-width: 45rem; }
  .card--front {
    margin-bottom: 5rem;
    transform: translateX(-10rem);
    position: relative; }
    .card--front-details {
      width: 100%;
      height: 100%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #fff;
      position: absolute; }
      .card--front-details--bottom {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .card--front-details--bottom-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }

.ball {
  border-radius: 50%; }
  .ball--large {
    background-color: #fff;
    max-height: 3rem;
    max-width: 3rem; }
  .ball--small {
    border: 1px solid #fff;
    max-width: 1.5rem;
    max-height: 1.5rem; }

.background {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative; }
  .background--left {
    width: calc(100% * 1/3); }
    .background--left-image {
      width: 100%;
      height: 100%; }
  .background--right {
    width: calc(100% * 2/3); }

.form__container {
  width: 80%;
  margin: 0 auto;
  position: relative; }

.form {
  width: 35rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); }
  .form__row {
    display: flex;
    flex-direction: column; }
  .form__column {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .form__label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.2rem; }
  .form__input {
    padding: 1.5rem;
    border: 1px solid #dedddf;
    outline: none;
    border-radius: .5rem; }
    .form__input--small {
      width: 5.5rem; }
      .form__input--small:not(:last-child) {
        margin-right: 1.5rem; }
    .form__input--mid {
      width: 20rem; }
