.background {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: row;
   position: relative;

   &--left {
      width: calc(100% * 1/3);
      &-image {
         width: 100%;
         height: 100%;
      }
   }

   &--right {
      width: calc(100% * 2/3);
   }
}

.form__container {
   width: 80%;
   margin: 0 auto;
   position: relative;
}

.form {
   width: 35rem;
   height: 40rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 50%);

   &__row {
      display: flex;
      flex-direction: column;

   }

   &__column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   &__label {
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-size: 1.2rem;
   }

   &__input {
      padding: 1.5rem;
      border: 1px solid $color-light-grey-violet;
      outline: none;
      border-radius: .5rem;

      &--small {
         width: 5.5rem;

         &:not(:last-child) {
            margin-right: 1.5rem;
         }
      }

      &--mid {
         width: 20rem;
      }
   }
}