.background {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: row;
   position: relative;

   &--left {
      width: calc(100% * 1/3);
      &-image {
         width: 100%;
         height: 100%;
      }
   }

   &--right {
      width: calc(100% * 2/3);
      position: relative;
      margin: 0 auto;
   }
}

.form__container {
   width: 80%;
   margin: 0 auto;
   position: relative;
}

.form {
   width: 35rem;
   height: 40rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 50%);

   &__row {
      display: flex;
      flex-direction: column;

   }

   &__column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   &__label {
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-size: 1.2rem;
   }

   &__input {
      padding: 1.5rem;
      border: 1px solid $color-light-grey;
      outline: none;
      border-radius: .5rem;
      font-size: 1.4rem;
      
      &::placeholder {
         color: $color-light-grey;
      }

      &:focus {
         border: 1px solid $color-violet;
      }

      &--small {
         width: 5.5rem;

         &:not(:last-child) {
            margin-right: 1.5rem;
         }
      }

      &--mid {
         width: 20rem;
      }
   }

   &__confirmation {
      width: 35rem;
      height: 40rem;
      display: inline-block;
      margin: 0 auto;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 20%);
      text-align: center;

      &-content {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }

      &-icon {
         text-align: center;
         height: 8rem;
         width: 8rem;
         border-radius: 50%;
         background-image: linear-gradient($color-purple-light, $color-purple-dark);
         margin: 0 auto;
         color: $color-white;
         position: relative;

         margin-bottom: 5rem;
      }

      &-heading {
         font-size: 2.4rem;
         font-weight: 900;
         text-transform: uppercase;
         letter-spacing: .5rem;
         margin-bottom: 2rem;
         color: $color-violet;
      }

      &-msg {
         color: $color-dark-grey;
         font-size: 1.6rem;
         margin-bottom: 5rem;
      }
   }
}