$color-typography: #222;
$color-black: #000;
$color-white: #fff;
$color-grey: #7a7a7a;

$color-red: hsl(0, 100%, 66%);
$color-purple-light: #bd5ceb;
$color-purple-dark: #500168;
$color-violet: hsl(278, 68%, 11%);
$color-light-grey: hsl(270, 3%, 87%);
$color-dark-grey: hsl(279, 6%, 55%);

$font-grotesk: 'Space Grotesk', sans-serif;