$color-typography: #222;
$color-black: #000;
$color-white: #fff;
$color-grey: #7a7a7a;

// $color-red: hsl(0, 100%, 66%);
// $color-pink-light: #ee0494;
// $color-pink-dark: #810250;
$color-dark-grey-violet: hsl(278, 68%, 11%);
$color-light-grey-violet: hsl(270, 3%, 87%);
$color-mid-grey-violet: hsl(279, 6%, 55%);

$font-grotesk: 'Space Grotesk', sans-serif;