.form__button {
   padding: 1.5rem 10rem;
   border: 0;
   background-color: $color-violet;
   color: $color-white;
   font-size: 1.3rem;
   border-radius: .5rem;
   cursor: pointer;
   transition: all .8s;

   &:hover {
      background-color: $color-dark-grey;
      color: #222;
      font-weight: 700;
   }

   &:active {
      transform: translateY(1rem);
   }
}