.cards__container {
   position: absolute;
   top: 0;
   left: 25%;
   transform: translate(-20%, 25%);
}

.card {
   max-height: 25rem;
   max-width: 45rem;
   // box-shadow: .6rem .6rem 1rem rgba($color-black, 1.0);
   cursor: pointer;
   transition: all 1s;

   &:hover {
      transform: scale(1.1);
   }

   &__img {
      max-height: 25rem;
      max-width: 45rem;
   }

   &--front {
      transform: translateX(-10rem);
      position: relative;
      margin: 0 auto;

      &-details {
         width: 100%;
         height: 100%;
         padding: 3rem;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         color: $color-white;
         position: absolute;
         text-transform: uppercase;

         &--top {
            display: flex;
            align-items: center;
         }

         &--card-num {
            text-align: center;
            font-size: 2rem;
            word-spacing: 1rem;
         }

         &--bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
         }
      }
   }

   &--back {
      position: relative;
      margin: 0 auto;
      transform: translateY(3rem);

      &-details {
         width: 100%;
         height: 100%;
         padding: 3rem;
         position: absolute;
         color: $color-white;


         &--card-cvc {
            display: inline-block;
            position: absolute;
            top: 9rem;
            right: 5rem;
         }
      }
   }
}