.cards__container {
   display: inline-block;
   position: absolute;
   top: 0;
   left: 30%;
   transform: translate(-20%, 30%);
}

.card {

   &__img {
      height: 25rem;
      width: 45rem;
   }

   &--front {
      margin-bottom: 5rem;
      transform: translateX(-10rem);
   }
}