.cards__container {
   display: inline-block;
   position: absolute;
   top: 0;
   left: 25%;
   transform: translate(-20%, 25%);
}

.card {
   max-height: 25rem;
   max-width: 45rem;

   &__img {
      max-height: 25rem;
      max-width: 45rem;
   }

   &--front {
      margin-bottom: 5rem;
      transform: translateX(-10rem);
      position: relative;

      &-details {
         width: 100%;
         height: 100%;
         padding: 3rem;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         color: $color-white;
         position: absolute;

         &-top {
            
         }

         &--bottom {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-container {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
            }
         }
      }
   }
}