.active {
   display: visible;
}

.hide {
   display: none !important;
}

.ball {
   display: inline-block;
   border-radius: 50%;

   &--large {
      background-color: $color-white;
      height: 4rem;
      width: 4rem;
      margin-right: 1rem;
   }

   &--small {
      border: 1px solid $color-white;
      width: 1.5rem;
      height: 1.5rem;
   }
}

.icon {
   font-size: 1.8rem;
   position: absolute;
   top: 30%;
   left: 50%;

   transform: translate(-50%, 50%);
}